@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
</style>
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #600518;
}

#main-body {
    display: flex;
    flex-direction: column;
}
#hero {
    background-image: url("../images/background.png");
    height: 650px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

#hero img {
    width: 400px;
    position: center;
}

#hero h3 {
    font-size: 48px;
    margin-right: 5px;
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    margin-bottom: 0px;
}

.anchors {
    display: flex;
    justify-content: center;
} 

.anchors a {
    display: inline-block;
    padding: 14px 40px;
    text-decoration: none;
    background-color: #b08a59;
    color: #471113;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 40px;
    border-radius: 40px;
    font-family: "Abril Fatface", serif;
}

#layout {
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
    padding: 24px;
    background-color: #efe9e0;
}

#layout h5 {
    font-size: 36px;
    font-family: "Abril Fatface", serif;
    color: #471113;
    margin-bottom: 0px;
}

#about-me {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    align-items: center;
}

#about-me .paragraph {
    border: 2px solid #b08a59;
    margin: 100px;
    margin-top: 20px;
    align-items: center;
}

#hello {
    padding: 36px 100px;
    text-align: center;
    font-family: "Wire One", sans-serif;
    color: #471113;
    font-size: 18px;
}

#about-me .portrait {
    width: 200%;
}

.portrait img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    margin-left: 100px;
    margin-bottom: 72px;
}

#process {
    border: 2px solid #b08a59;
    margin: 24px 100px;
    padding: 50px 100px;
    font-size: 18px;
    color: #471113;
}
h2 {
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    font-size: 48px;
    margin-bottom: 10px;
}

h3 {
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    font-size: 48px;
    margin-bottom: 70px;
    margin-top: 70px;
    background-color: #600518;
    padding: 10px;
}

h4 {
    font-size: 24px;
    font-family: "Abril Fatface", serif;
    color: #471113;
    margin: 0px;
    padding-bottom: 0px;  
    text-decoration: underline;
}

.campaign {
    display: flex;
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.campaign img {
    object-fit: cover;
    width: 200px;
    margin: 8px;
}

.posters {
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.posters img {
    object-fit: cover;
    width: 400px;
    margin: 20px;
}

.books {
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.books img {
    object-fit: cover;
    width: 400px;
    margin: 18px;
}

#layout-2 {
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
    padding: 24px;
    background-color: #600518;
}

#layout-2 h4 {
    font-size: 24px;
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    margin: 0px;
    padding-bottom: 0px;  
    text-decoration: underline;
}

.ads {
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.ads img {
    object-fit: cover;
    width: 200px;
    height: 300px;
    margin: 18px;
}

#bottom-nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Gajraj One", sans-serif;
    color: red;
    font-size: 24px;
}

@media screen and (max-width: 1400px) {
    #main-body {
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 975px) {
    #hero,
    .anchors,
    .portrait,
    #layout,
    #layout-2,
    #about-me,
    #process,
    .paragraph {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #about-me .portrait {
        width: 75%;
    }

    .portrait img {
        margin: 0px;
        width: 100%;
    }

    .anchors a {
        margin: 14px;
    }
}

@media screen and (max-width: 925px) {
    .posters img,
    .books img {
        width: 75%;
    }

    .ads img {
        height: auto;
    }

    .portrait img {
        margin: 0px;
        width: 100%;
    }

    #about-me .portrait {
        width: 100%;
    }

    #layout p {
        padding: 20px;
    }

    #about-me .paragraph {
        margin: 0px;
    }

    h5 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 670px) {
    .posters img,
    .books img,
    #logo,
    .ads img {
        width: 75%;
        flex-direction: column;
    }

    .campaign img {
        width: 75%;
        flex-direction: column;
    }

    #process {
        margin: 0px;
        flex: 0;
    }

    #about-me img {
        margin: 0px;
    }
}

@media screen and (max-width: 590px) {
}

@media screen and (max-width: 500px) {
    .campaign,
    .posters,
    .books,
    .ads {
        width: 100%;
    }
}

    #hero img {
        width: 100%;
    }

    #hero {
        height: 500px;
    }
}