@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #600518;
}

#main-body {
    display: flex;
    flex-direction: column;
}

#hero {
    background-image: url("../images/background.png");
    height: 650px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

#hero img {
    width: 400px;
    position: center;
}

#hero h3 {
    font-size: 48px;
    margin-right: 5px;
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    margin-bottom: 0px;
}

.anchors {
    display: flex;
    justify-content: center;
} 

.anchors a {
    display: inline-block;
    padding: 14px 40px;
    text-decoration: none;
    background-color: #b08a59;
    color: #471113;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 40px;
    border-radius: 40px;
    font-family: "Abril Fatface", serif;
}

#layout,
#layout-3 {
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
    background-color: #efe9e0;
}

#layout h5 {
    font-size: 36px;
    font-family: "Abril Fatface", serif;
    color: #471113;
    margin-bottom: 0px;
}

#about-me {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    align-items: center;
}

#about-me .paragraph {
    border: 2px solid #b08a59;
    margin-right: 100px;
    margin-top: 20px;
    align-items: top;
    padding-bottom: 20px;
}

#hello {
    padding: 14px 50px;
    text-align: center;
    color: #471113;
    font-size: 18px;
    margin-top: 5px;
}

.paragraph a {
    color: #471113;
    font-family: "Abril Fatface", serif;
    font-size: 36px;
}

.paragraph h5 {
    margin-top: 0px;
    padding-top: 36px;
}

#about-me .portrait {
    width: 200%;
    background-color: #600518;
    padding: 25px 30px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.portrait img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

#process {
    border: 2px solid #b08a59;
    margin: 24px 100px;
    padding: 50px 100px;
    font-size: 18px;
    color: #471113;
}
h2 {
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    font-size: 48px;
    margin-bottom: 10px;
}

#projects {
    font-size: 60px;
    padding: 50px;
}   

h3 {
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    font-size: 48px;
    margin-bottom: 70px;
    margin-top: 70px;
    background-color: #600518;
    padding: 10px;
}

h4 {
    font-size: 24px;
    font-family: "Abril Fatface", serif;
    color: #471113;
    margin: 0px;
    padding-bottom: 0px;  
    text-decoration: underline;
}

.campaign {
    display: flex;
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.campaign img {
    object-fit: cover;
    width: 250px;
    margin: 3px;
}

.posters {
    display: flex;
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.posters img {
    object-fit: cover;
    width: 500px;
    height: 700px;
    margin: 10px;
}

.books {
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.books img {
    object-fit: cover;
    width: 500px;
    margin: 14px;
}

#layout-2 {
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
    padding: 24px;
    background-color: #600518;
    display: flex;
    flex-direction: column;
}

#layout-2 h4 {
    font-size: 24px;
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    margin: 0px;
    padding-bottom: 0px;  
    text-decoration: underline;
    padding: 12px;
}

.ads {
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.ads img {
    object-fit: cover;
    width: 250px;
    height: 350px;
    margin: 5px;
}

#artboard-1 {
    margin-top: 10px;
    width: 850px;
}

.print-web {
    columns: 2 auto;
    max-width: 1150px;
    margin: 10px 40px;
}

.print-web img {
    width: 100%;
    padding: 5px;
}

#sites {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#sites img {
    width: 300px;
    margin: 36px;
}

#layout-3 {
    padding: 36px;
}

#layout-3 a {
    margin: 50px 15px;
}

video {
    background-color: #600518;
    padding: 30px 0px;
}

#video {
    background-color: #600518;
    margin: 24px 36px;
}

.return a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    font-size: 24px;
}

@media screen and (max-width: 1400px) {
    #main-body {
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:1250px) {
    .ads img {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 975px) {
    #hero,
    .anchors,
    .portrait,
    #layout,
    #layout-2,
    #about-me,
    #process,
    .paragraph,
    .print-web,
    #sites {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   

    #about-me .portrait {
        width: 100%;
    }

    .portrait img {
        margin: 0px;
        width: 100%;
    }

    .anchors a {
        margin: 14px;
    }

    #about-me .paragraph {
        margin-left: 100px;
    }
}

@media screen and (max-width: 950px) {
    .posters img,
    .books img,
    .print-web {
        width: 75%;
    }

    .ads img {
        height: auto;
        flex-direction: column;
        width: 75%;
    }

    .portrait img {
        margin: 0px;
        width: 100%;
    }

    #about-me .portrait {
        width: 50%;
    }

    #layout p {
        padding: 20px;
    }

    #about-me .paragraph {
        margin: 50px 100px;
    }

    h5 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 670px) {
    .posters img,
    .books img,
    #logo {
        width: 75%;
        flex-direction: column;
    }

    .campaign img {
        width: 75%;
        flex-direction: column;
    }

    #process {
        margin: 0px;
        flex: 0;
    }

    #about-me img {
        margin: 0px;
    }

    #about-me .paragraph {
        margin: 50px 0px;
    }

    .print-web {
        columns: 1;
        width: 75%;
        margin-right: 20px;

    }
}

@media screen and (max-width: 590px) {
}

@media screen and (max-width: 500px) {
    .campaign,
    .posters,
    .books,
    .ads {
        width: 100%;
    }

    #hero img {
        width: 100%;
    }

    #hero {
        height: 500px;
    }
}