@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
</style>
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #6f1116;
}

#hero {
    background-image: url("../images/hero-2.svg");
    height: 650px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
#hero h3 {
    font-size: 48px;
    margin-right: 20px;
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    margin-bottom: 0px;
}

.anchors {
    display: flex;
    justify-content: center;
} 

.anchors a {
    display: inline-block;
    padding: 14px 40px;
    text-decoration: none;
    background-color: #b08a59;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 40px;
    border-radius: 40px;
    font-family: "Abril Fatface", serif;
}

#layout {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: 24px;
    background-color: #efe9e0
}

#layout h5 {
    font-size: 36px;
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    margin: 0px;
}

#about-me {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 50px;
    align-items: center;
}

#about-me .paragraph {
    padding: 73px 100px;
    margin: 100px;
    text-align: center;
    font-family: "Wire One", sans-serif;
    color: #b08a59;
    font-size: 18px;
    flex: 5;
    border: 2px solid #b08a59;
}

#about-me .portrait {
    flex: 5;
}

.portrait img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-left: 100px;
}

h2 {
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    font-size: 48px;
    margin-bottom: 0px;
}

h3 {
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    font-size: 48px;
    margin-bottom: 70px;
    background-color: #6f1116;
    padding: 10px;
}

h4 {
    font-size: 24px;
    font-family: "Abril Fatface", serif;
    color: #b08a59;
    margin: 0px;
    padding-bottom: 0px;  
    text-decoration: underline;
}

.campaign {
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.campaign img {
    object-fit: cover;
    width: 250px;
    margin: 18px;
}

.posters {
    display: inline-block;
    padding: 2px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.posters img {
    object-fit: cover;
    width: 350px;
    margin: 18px;
}

#bottom-nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Gajraj One", sans-serif;
    color: red;
    font-size: 24px;
}

@media screen and (max-width: 1400px) {
    #hero {
        flex-direction: column;
        align-items: center;
    }
    #hero h3 {
        margin-top: 600px;
    }
}

@media screen and (max-width: 1050px) {
    .horizontal img {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 975px) {
    #top {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        flex-wrap: wrap;
        padding: 0px;
        font-size: 18px;
    }
}

@media screen and (max-width: 925px) {

}

@media screen and (max-width: 760px) {
    .horizontal img {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
}

@media screen and (max-width: 590px) {
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 425px) {
}