* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    max-width: 800px;
    margin: 24px auto;
}

#sidebar-column {
    width: 300px;
    padding: 18px;
}

#main-column {
    flex: 1;
    background-color: pink;
    padding: 24px;
    margin-top: 18px;
}

#sidebar-column h2 {
    background-color: #f9aebb;
    padding: 12px;
    font-size: 18px;
    text-align: center;
    margin: 0px;
}

#sidebar-column ul {
    background-color: #fcdee3;
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
    border: 1px solid #f9aebb;
}

#sidebar-column a {
    color: black;
    text-decoration: none;
}

#sidebar-column li {
    padding: 8px 0px;
    border-bottom: 1px solid #f9aebb;
}

#sidebar-column li:last-child {
    border-bottom: 0px;
}

#main-column h1 {
    margin: 0px;
}