* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#weather {
    background-color:dodgerblue;
    display: inline-block;
    border-radius: 40px;
    color: white;
    margin: 30px;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sun {
    width: 75px;
    vertical-align: middle;
}

p {
    display: inline-block;
    vertical-align: middle;

}

#p1 {
    font-size: 24px;
}

#p2 {
    margin-left: 50px;
    margin-right: 20px;
    font-size: 24px;
}

#p3 {
    font-size: 20px;
}